/* Componente Admin */
.dv-container-admin{
    background-image: url('../assets/bg-burger-menu.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    display: flex;
    color: white;
    flex-flow: column nowrap;
    align-items: center;
    padding: 30px 10px;
    gap: 50px;
}
/* Componente FormAddUser */
.form-create-user{
    width: 100%;
    height: 15%;
    display: flex;
    justify-content: space-around;
}
/* Componente Users */
.container-users-list {
    width: 80%;
    background-color: whitesmoke;
    font-size: medium;
}
