/* Component Navbar */
/* .navbar {
    background-color: black;
    color: white;
} */
/* Componente Menu */
.container-menu {
    background-image: url('../assets/bg-burger-menu.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    display: flex;
    color: white;
}
/* Componente Products */
.container-all-products {
    display: flex;
    width: 60%;
    padding: 20px 40px;
    justify-content: space-around;
    overflow-y: scroll;
    height: 90vh;
}
.section-lunch {
    display: flex;
    flex-flow: column;
    align-items: center;
}
.container-div-card {
    display: flex;
}
.div-card {
    width: 10rem;
    background-color: rgb(61, 61, 61);
}
.burger-card-top {
    width: 30%;
    margin: auto;
}
.btn-agregar{
    background: rgb(151, 182, 41);
    border: green;
}
.btn-agregar:hover{
    background: green;
}
/* Componente ListOrder */
.container-list-order {
    display: flex;
    width: 40%;
    padding: 20px 40px;
}
.card-list-order {
    display: flex;
    justify-content: start;
    flex-direction: column;
}
.items-list-order {
    font-size: 14px;
    display: flex;
    align-items: center;
    min-height: 30px;
}
.item-name {
    width: 60%;
}
.item-price {
    width: 25%;
}
.item-count {
    width: 15%;
}